h1{
    background-color: yellow;
    clear: both;
}

body{
    width: 80%;
    border: 1px solid black;
    margin: auto;
    padding: 5px;
    text-align: justify;
}

.bal{
    background-color: lightblue;
    height: 150px;
    width: 150px;
    float: left;
    margin-right: 5px;
}

.jobb{
    background-color: rgb(75, 64, 36);
    width: 75px;
    height: 300px;
    float: right;
    margin-left: 5px;
    color: white;
}

#also{
    background-color: lightcoral;
    overflow: auto;
}

#also_alatti{
    background-color: lightgreen;
    padding: 5px;
    margin-top: 5px;
    height: 200px;
    /* visible, hidden, scroll, auto */
    overflow: auto;
    /* normal, nowrap, pre-wrap, pre */
    white-space: normal;
}